@charset "UTF-8";

html {
    font-size: 8px;
    --radius: 1rem;
    --rytm: clamp(2rem, 3.5vw, 5rem);
}

body {
    font-family: "content", sans-serif;
    font-size: 2rem;
    line-height: 1.4;
    color: #323232;
}

.wrapper {
    height: calc(var(--vh, 1vh)* 100);
    overflow: hidden;
}

.wrapper > .workspace {
    height: 100%;
    overflow-x: hidden;
}

.wrapper,
.wrapper > .workspace {
    width: 100%;
    position: relative;
}

article {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 var(--rytm) var(--rytm) var(--rytm);
}

.center {
    width: 100%;
    max-width: 240rem;
    margin: 0 auto;
}

article > .main,
.advantages {
    margin-top: var(--rytm);
    border-radius: var(--radius);
}

article > .main {
    position: relative;
    height: calc(var(--vh, 1vh)* 100 - var(--rytm)*2);
    min-height: clamp(40rem, 50vw, 60rem);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
}

article > .main::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
    background-blend-mode: multiply;
    content: "";
}

article > .advantages > .image > div {
    height: calc(var(--vh, 1vh)* 100 - var(--rytm)*2);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
}
